<div id="nav-bar">
    <a
        href="/"
        id="nav-bar-index-botton"
        class="nav-bar-item-selecting nav-bar-item"
    >
        <div class="nav-bar-text">
            <div class="nav-bar-text-main">首页</div>
            <div class="nav-bar-text-small">INDEX</div>
        </div>
    </a>
    <div id="nav-bar-project-botton" class="nav-bar-item">
        <div class="nav-bar-text">
            <div class="nav-bar-text-main">项目</div>
            <div class="nav-bar-text-small">PROJECTS</div>
        </div>
    </div>
    <div id="nav-bar-docs-botton" class="nav-bar-item">
        <div class="nav-bar-text">
            <div class="nav-bar-text-main">文档</div>
            <div class="nav-bar-text-small">DOCS</div>
        </div>
    </div>
    <div id="nav-bar-arts-botton" class="nav-bar-item">
        <div class="nav-bar-text">
            <div class="nav-bar-text-main">画作</div>
            <div class="nav-bar-text-small">ARTS</div>
        </div>
    </div>
    <!-- 点击后应该能打开一个侧边栏 -->
    <div id="nav-bar-special-botton" class="nav-bar-item">
        <div class="nav-bar-text">
            <div class="nav-bar-text-main">特殊页面</div>
            <div class="nav-bar-text-small">SPECIAL</div>
        </div>
    </div>
</div>

<style>
    #nav-bar {
        /* margin: 12px; */
        padding: 12px;
    }

    #nav-bar > div {
    }

    .nav-bar-item {
        background-color: khaki;
        border: solid 2px brown;
        display: inline-block;
        margin: 4px;
        min-width: 8em;
        height: 100%;
        text-decoration: none;
    }

    .nav-bar-item-selecting {
        background-color: greenyellow;
        border-color: black;
        color: darkgreen;
    }

    #nav-bar-special-botton {
        background-color: plum;
        border-color: purple;
        color: purple;
        float: right;
    }

    .nav-bar-text {
        padding: 0.5em 0.75em;
    }

    .nav-bar-text-main {
        font-size: 24px;
        font-weight: bold;
    }

    .nav-bar-text-small {
        font-size: 10px;
        font-weight: normal;
    }
</style>
