---
import "@style/active.css";
---

<div class="p1_outside">
    <div class="p1_outside1">
        <div class="p1_style">
            <h2 class="p1_head">index.html</h2>
            <div class="p1_text">
                <h3>
                    这里是什么网站 <span
                        style="display: inline-block;animation: infinite linear 0.25s 转圈动画;"
                        >¿</span
                    >
                </h3>
                <p>
                    唔... 其实我也不知道这是什么，也许你可以将这里称为一个博客？
                </p>
                <p>
                    目前来说，我只是为了想要在互联网上留下一些<del>💩</del
                    ><small>我是说奇思妙想之类的</small>，才把几年前用 HTML
                    写的神秘小网站给捡回来了。只不过这恐怖的 CSS
                    让它看起来也不像是一般的，只是记录一些文字的那种博客啦！
                </p>
                <div style="float: inline-end;">
                    <div
                        style="font-size: 24px;font-weight: bold;text-align: right;width: 3em;height: 3em;border:black solid;padding: 0.25em;"
                    >
                        CSS IS AWESOME
                    </div>
                    <p style="text-align: center;background-color: #0001;">
                        太对啦！
                    </p>
                </div>
                <h3 class="jumping_text">这些东西是怎么写出来的？！</h3>
                <p>
                    我在几年前混过一段时间的fd后室wiki，我的大部分 HTML
                    知识都是在那时候学的。如果你去那翻过的话你可能会看到一个叫做
                    Level CSS 的楼层，我的主页就是想做成它那样的喵！
                    不过我保留了一些可读性，这样你才知道你看的是<span style="display: inline-block;"><span
                        style="position:absolute;">💩</span
                    >博客</span>。
                </p>

                <h3>以后想写点什么内容呢？</h3>
                <p>也许我会写一下游戏内容，以及我的角色。我画的画也可以放上来，绘画方面我只是初学者吧。音乐相关内容嘛，等我憋出一个完整的先吧。</p>
            </div>
        </div>
    </div>
</div>

<style>
    .p1_head {
        box-shadow:
            0px 0px 0px 4px rgba(0, 0, 0, 0.75) inset,
            0px 0px 0px 8px rgba(255, 255, 255, 0.35) inset;
        font-family: Consolas;
        padding: 0.4em 0.5em;
        background: linear-gradient(
            90deg,
            darkcyan,
            rgb(88, 148, 148),
            rgb(95, 160, 154)
        );
        /* max-width: 300px; */
        color: black;
        margin: 0;
    }

    /* .p1_head::before{
			content: ">";
			color: #1d1;
			width: 1.5em;
		} */
    .p1_style {
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.75) inset;
        background-color: lightgray;
    }

    @keyframes p1复位 {
        from {
            transform: scale(1.07);
            margin: 0 2% 0 2%;
        }

        to {
            margin: 0 0% 0 0%;
            transform: scale(1);
        }
    }

    @keyframes p1悬停 {
        from {
            transform: scale(1);
            margin: 0 0% 0 0%;
        }

        to {
            margin: 0 2% 0 2%;
            transform: scale(1.07);
        }
    }

    .p1_text {
        margin: 0 1.5em;
        display: inline-block;
    }

    .JS装饰 {
        display: inline-block;
        font-size: 1.4em;
        font-weight: bold;
        transform: rotate(10deg) scaleY(70%) translateY(0.2em);
        text-decoration: line-through;
    }

    .CSS装饰1 {
        font-weight: bold;
        background: -webkit-linear-gradient(
            0deg,
            #f00 0%,
            #0f0 33%,
            #00f 67%,
            #f00 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: infinite 20s alternate linear CSS装饰动画;
        display: inline-block;
        font-size: 1.1em;
        margin: 0.1em;
        transform: scale(1, 1.4);
        font-style: italic;
    }

    .CSS装饰1::after {
        content: "";
        width: 0.2em;
        display: inline-block;
    }

    @keyframes CSS装饰1动画 {
        0% {
            background-position: 10em 0;
        }

        100% {
            background-position: -10em 0;
        }
    }

    .重量装饰 {
        display: inline-block;
        font-weight: bolder;
        transform: scaleX(160%);
        margin: 0 10px;
    }

    .Java装饰 {
        color: #d45500;
        font-weight: bold;
    }

    .Java装饰::before {
        content: url("https://pltision.github.io/resources/blog/index/Java冒烟装饰.svg");
        position: absolute;
        margin-top: -0.6em;
        transform: scale(0.8);
    }
</style>
